*{
background_color:antiquewhite;
}
div{
background-color:aqua;
}
.cn{ 
    background-color:aquamarine;
    padding;200px;
    margin:20px;
    border:50px solid red;
}
#id1{
      background-color:rgb(255,255,255);
      border:5pxvw;
      width;50vw;
      height:50vh;
}